#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@media only screen and (max-width: 500px) {
  .video-responsive video {
    width: 320px;
  }
  .image-gallery-slide .image-gallery-description {
    font-size: 10px !important;
    margin-top: 10px !important;
    padding: 10px !important;
  }

  .image-gallery-slide .image-gallery-description::before {
    width: 100px !important;
    height: 50px !important;
    top: -25px !important;
  }
}
@media only screen and (min-width: 501px) {
  .video-responsive video {
    width: auto;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image-gallery-slide .image-gallery-description {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  padding: 30px 10px;
  background: rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    top bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 162, 200, 1) 60%
  );
  color: #5c2920 !important; /* Color cobre */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

.image-gallery-slide .image-gallery-description::before {
  content: ''; /* Contenido generado por CSS */
  position: absolute; /* Posición absoluta */
  top: -60px; /* Distancia desde el borde superior */
  left: 50%; /* Posición horizontal centrada */
  transform: translateX(
    -50%
  ); /* Desplazamiento hacia la izquierda para centrar */
  width: 350px; /* Ancho */
  height: 120px; /* Altura */
  background-image: url('https://photo-gallery-dasbego.s3.amazonaws.com/Fotos+Pre+Boda+Babies/gerberas_marco.png'); /* Imagen de fondo */
  background-size: contain; /* Ajustar tamaño de fondo */
  background-color: transparent; /* Color de fondo */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
